<h1>Give a name to your pet:</h1>

<form action="/pet" method="post">
  <label for="pet_name">Pet Name</label>
  <input id="pet_name" name="pet_name" type="text">

  <button type="submit" id="submit">Adopt</button>
</form>
